[submodule "sorting-js"]
	path = sorting-js
	url = https://github.com/nicholsonbt/sorting-js.git
[submodule "comparing-js"]
	path = comparing-js
	url = https://github.com/nicholsonbt/comparing-js.git
